[Desktop Entry]
Encoding=UTF-8
Name=Link to Section 4
Type=Link
URL=file:///home/tshewang/workspace8/moea-Upgradation/documentation/Prototype/DOT/pages/registrationOrMicroTradeCertificate.html#Section4
Icon=text-html
